---
layout: single
---
{{ content }}

<p>※실제 선수팩과 동일 확률이지만, 갱신 시간 차이로 인해 가격이 다를 수 있습니다※</p>

<div id="card-display">
    <div>기댓값 <span class="primary">{{ page.expected_value }}</span></div>
    <div>총 <span class="primary" id="openCount"></span>개</div>
    <div>합 <span class="primary" id="sum">0</span></div>
    <div>평균 <span class="primary" id="mean">0</span></div>

    <div class="main-card">
        <div id="thumb"></div>
        <div class="card-info" id="card-info">
            <div>
                선수 가치 <div id="price"><span>0</span></div>
            </div>
            <div>
                상위 <div id="percentile"><span>0</span></div>
            </div>
            <div>
                <div id="rank"><span>0등</span></div>/{{ page.players.size }}명
            </div>
        </div>
    </div>
    <div class="minor-card" id="minor-card"></div>
    <div class="open-pack-buttons">
        <button id="open-pack-button">1개 열기</button>
        <button id="open-10pack-button">10개 열기</button>
    </div>
</div>
<div id="chart"></div>
<script>
    var sum = 0;
    var n = 0;

    function value_cut(val) {
        const units = ["", "만", "억", "조", "경", "해"];
        let first = 0;
        let second = parseInt(val);
        let cnt = -1;
        while (second >= 10000) {
            first = second % 10000;
            second = Math.floor(second / 10000);
            cnt++;
        }
        if (second >= 100 || first === 0) {
            return second.toString() + units[cnt + 1];
        }
        return second.toString() + units[cnt + 1] + first.toString() + units[cnt];
    }

    const players = [
    {% for player in page.players %}
    {
        name: "{{ player.name }}",
        id: "{{ player.id }}",
        season: "{{ player.season }}",
        upgrade: {{ player.upgrade }},
        value_cut: "{{ player.value_cut }}",
        value: {{ player.value }},
        prob: {{ player.prob }},
        position: "{{ player.position }}",
        ovr: {{ player.ovr }},
        pay: {{ player.pay }}
    },
    {% endfor %}
    ];

    const intervals = [{x: 100, y: players[0].value}];
    const xlabels = [];

    let start = 100;

    for (let i = 0; i < players.length; i++) {
        start -= players[i].prob * 100;
        if (i === players.length - 1) {
            start = 0; // 마지막 구간의 오차 보정
        }
        const interval = {
            x: start,
            y: players[i].value
        };
        intervals.push(interval);
        xlabels.push("상위 " + (100 - start).toString() + "% "+ players[i].name);
    }

    // 차트 옵션 설정
    const options2 = {
        chart: {
            type: 'line',
            height: '400px',
            // background: '#ffffff'
        },
        series: [{
            name: '가격',
            data: intervals
        }],
        xaxis: {
            type: 'numeric',
            min: 0,          // X 축의 최소값
            max: 100,        // X 축의 최대값
            categories: xlabels,
            labels: {
                formatter: function (val) {
                    return "상위 " + (100 - val).toFixed(10).toString().replace(/0+$/, "").replace(/.$/, "") + "%";
                }
            }
        },
        yaxis: {
            min: 0,
            labels: {
                formatter: value_cut
            }
        },
        theme: {
            mode: 'dark',
            palette: 'palette1' // upto palette10
        }
    };

    // 차트 생성
    const chart = new ApexCharts(document.querySelector('#chart'), options2);
    chart.render();

    function createCard(player) {
        var tempDiv = document.createElement('div');
        tempDiv.classList.add("thumb", player.season);

        // back
        var cardBackDiv = document.createElement('div');
        cardBackDiv.classList.add("card_back");
        var imgElement = document.createElement('img');
        imgElement.src =
            "https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/card/" + player.season + ".png";

        imgElement.alt="";

        cardBackDiv.appendChild(imgElement);
        tempDiv.appendChild(cardBackDiv);

        // back
        var cardBackDiv = document.createElement('div');
        cardBackDiv.classList.add("card_back_white");
        var imgElement = document.createElement('img');
        imgElement.src =
            "https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/card/" + player.season + ".png";
            // "/assets/images/card_white.png";
        imgElement.alt="";

        cardBackDiv.appendChild(imgElement);
        tempDiv.appendChild(cardBackDiv);

        // faceon
        var faceonDiv = document.createElement('div');
        faceonDiv.classList.add("img");

        var faceonElement = document.createElement('img');
        faceonElement.src =
            "https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/playersActionHigh/p" + player.id +  ".png";
        const playerIdShort = Number.parseInt(player.id.toString().substring(3)).toString();
        faceonElement.onerror = function () {
            faceonElement.src = "https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/playersHigh/p" + playerIdShort + ".png";
            faceonElement.onerror = function () {
                faceonElement.src = "https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/players/p" + playerIdShort + ".png";
                faceonElement.onerror = function () {
                    faceonElement.src = "https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/players/not_found.png";
                }
            }
        };
        faceonDiv.appendChild(faceonElement);
        tempDiv.appendChild(faceonDiv);

        //ovr
        var ovrDiv = document.createElement('div');
        ovrDiv.classList.add("ovr");
        ovrDiv.innerHTML = player.ovr;
        tempDiv.appendChild(ovrDiv);

        // position
        var positionDiv = document.createElement('div');
        positionDiv.classList.add("position");
        positionDiv.innerHTML = player.position;
        tempDiv.appendChild(positionDiv);

        // season
        var seasonDiv = document.createElement('div');
        seasonDiv.classList.add("season");
        var imgBigElement = document.createElement('img');
        imgBigElement.src =
            "https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/season/" + player.season + "_big.png";
        imgBigElement.onerror = function () {
            imgBigElement.remove();
        };
        seasonDiv.appendChild(imgBigElement);
        tempDiv.appendChild(seasonDiv);

        // upgrade
        var selectorDiv = document.createElement('div');
        selectorDiv.classList.add("selector_wrap");
        selectorDiv.innerHTML = player.upgrade;

        if (8 <= player.upgrade) {
            selectorDiv.classList.add("upgrade_gold");
        } else if (5 <= player.upgrade) {
            selectorDiv.classList.add("upgrade_silver");
        } else if (2 <= player.upgrade) {
            selectorDiv.classList.add("upgrade_cooper");
        }
        tempDiv.appendChild(selectorDiv);

        // name wrap
        var nameWrapDiv = document.createElement('div');
        nameWrapDiv.classList.add("name_wrap");
        var seasonDiv = document.createElement('div');
        seasonDiv.classList.add("season");
        var imgElement = document.createElement('img');
        imgElement.src =
        "https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/season/" + player.season + ".png";
        seasonDiv.appendChild(imgElement);
        nameWrapDiv.appendChild(seasonDiv);
        var nameDiv = document.createElement('div');
        nameDiv.classList.add("name");
        nameDiv.innerHTML = player.name;
        nameWrapDiv.appendChild(nameDiv);
        tempDiv.appendChild(nameWrapDiv);

        // pay
        var payDiv = document.createElement('div');
        payDiv.classList.add("pay");
        payDiv.innerHTML = player.pay;
        tempDiv.appendChild(payDiv);

        return tempDiv;
    }


    function controlButtonEventListener() {
        document.getElementById('open-pack-button').disabled = true;
        document.getElementById('open-10pack-button').disabled = true;
        setTimeout(function() {document.getElementById('open-pack-button').disabled = false;}, 1000);
        setTimeout(function() {document.getElementById('open-10pack-button').disabled = false;}, 1000);
    }

    function openPack(openCount) {
        function wrapper() {
            controlButtonEventListener();

            var opened = [];
            for (let j = 0; j < openCount; j++) {
                const randomNum = Math.random();
                let cumulativeProbability = 0;
                for (let i = 0; i < players.length; i++) {
                    cumulativeProbability += players[i].prob;
                    if (i === players.length - 1) {
                        cumulativeProbability = 1; // 마지막 구간의 오차 보정
                    }
                    if (randomNum <= cumulativeProbability) {
                        var player = players[i];
                        opened.push([player, cumulativeProbability, i]);
                        break;
                    }
                }
            }

            opened.sort(function(a, b) {
                return a[2] - b[2];
            });

            for (let j = 0; j < opened.length; j++) {
                sum += opened[j][0].value;
                n++;
            }
            var openCountDiv = document.getElementById('openCount');
            var innerSpan = document.createElement('span');
            innerSpan.innerHTML = value_cut(n);
            openCountDiv.innerHTML = "";
            openCountDiv.appendChild(innerSpan);

            var sumDiv = document.getElementById('sum');
            var innerSpan = document.createElement('span');
            innerSpan.innerHTML = value_cut(sum);
            sumDiv.innerHTML = "";
            sumDiv.appendChild(innerSpan);

            var meanDiv = document.getElementById('mean');
            var innerSpan = document.createElement('span');
            innerSpan.innerHTML = value_cut(sum / n);
            meanDiv.innerHTML = "";
            meanDiv.appendChild(innerSpan);

            var player = opened[0][0];
            var p = opened[0][1];
            var cumulativeProbability = ((p * 100).toFixed(8)).toString().replace(/0+$/, "").replace(/.$/, "") + "%";

            var thumbDiv = document.getElementById('thumb');
            var tempDiv = createCard(opened[0][0]);
            thumbDiv.innerHTML = "";
            thumbDiv.appendChild(tempDiv);

            // effects
            if (p <= 0.1) {
                let effect = (p <= 0.02) ? "flame" :  "sparkle";
                for (let i = 0; i < 2; i++) {
                    var effectDiv = document.createElement('div');
                    var imgElement = document.createElement('img');
                    imgElement.src =
                        "/assets/images/simulator/" + effect + ".gif";
                    imgElement.alt="";
                    effectDiv.appendChild(imgElement);
                    if (i === 0)
                        effectDiv.classList.add(effect + "-right");
                    else
                        effectDiv.classList.add(effect + "-left");
                    tempDiv.appendChild(effectDiv);
                }
            }

            // price
            var playerPriceDiv = document.getElementById('price');
            var innerSpan = document.createElement('span');
            innerSpan.classList.add("blur")
            innerSpan.innerHTML = player.value_cut;
            playerPriceDiv.innerHTML = "";
            playerPriceDiv.appendChild(innerSpan);

            // percentile
            var percentileDiv = document.getElementById('percentile');
            var innerSpan = document.createElement('span');
            innerSpan.classList.add("blur")
            innerSpan.innerHTML = cumulativeProbability;
            percentileDiv.innerHTML = "";
            percentileDiv.appendChild(innerSpan);

            // rank
            var rankDiv = document.getElementById('rank');
            var innerSpan = document.createElement('span');
            innerSpan.classList.add("blur")
            innerSpan.innerHTML = (opened[0][2] + 1).toString() + "등";
            rankDiv.innerHTML = "";
            rankDiv.appendChild(innerSpan);

            var minorCardDiv = document.getElementById('minor-card');
            minorCardDiv.innerHTML = "";
            for (let i = 1; i < opened.length; i++) {
                var tempDiv2 = document.createElement('div');

                var thumbSmallDiv = createCard(opened[i][0]);
                thumbSmallDiv.classList.add("thumb-small");
                tempDiv2.appendChild(thumbSmallDiv);

                var thumbSmallPriceDiv = document.createElement('div');
                thumbSmallPriceDiv.classList.add("thumb-small-price");
                thumbSmallPriceDiv.innerHTML = value_cut(opened[i][0].value);
                tempDiv2.appendChild(thumbSmallPriceDiv);

                minorCardDiv.appendChild(tempDiv2);
            }
        }
        return wrapper;
    }
    openPack(10)();
    document.getElementById('open-pack-button').addEventListener('click', openPack(1));
    document.getElementById('open-10pack-button').addEventListener('click', openPack(10));
</script>
