---
layout: single
---
{{ content }}

<p>Beta 버전입니다. 자유게시판에 자유롭게 의견 남겨주세요.</p>
<p>※실제 선수팩과 결과가 다를 수 있습니다※</p>

<div id="card-display">
    <div>기댓값</div>
    <div>{{ page.expected_value }}</div>
    <div class="thumb" id="thumb"></div>
    <div class="card-info" id="card-info">
        <div>선수 가치</div>
        <div id="price"><span>0</span></div>
        <div>
            상위 <div id="percentile"><span>0</span></div>
        </div>
        <div>
            <div id="rank"><span>0등</span></div>/{{ page.players.size }}명
        </div>
    </div>
    <button id="open-pack-button">1개 열기</button>
</div>
<div id="chart"></div>
<script>
    const players = [
    {% for player in page.players %}
    {
        name: "{{ player.name }}",
        id: "{{ player.id }}",
        season: "{{ player.season }}",
        upgrade: {{ player.upgrade }},
        value_cut: "{{ player.value_cut }}",
        value: {{ player.value }},
        prob: {{ player.prob }},
        position: "{{ player.position }}",
        ovr: {{ player.ovr }},
        pay: {{ player.pay }}
    },
    {% endfor %}
    ];

    const intervals = [{x: 100, y: players[0].value}];
    const xlabels = [];

    let start = 100;

    for (let i = 0; i < players.length; i++) {
        start -= players[i].prob * 100;
        if (i === players.length - 1) {
            start = 0; // 마지막 구간의 오차 보정
        }
        const interval = {
            x: start,
            y: players[i].value
        };
        intervals.push(interval);
        xlabels.push("상위 " + (100 - start).toString() + "% "+ players[i].name);
    }

    // 차트 옵션 설정
    const options2 = {
        chart: {
            type: 'line',
            height: '400px',
            // background: '#ffffff'
        },
        series: [{
            name: '가격',
            data: intervals
        }],
        xaxis: {
            type: 'numeric',
            min: 0,          // X 축의 최소값
            max: 100,        // X 축의 최대값
            categories: xlabels,
            labels: {
                formatter: function (val) {
                    return "상위 " + (100 - val).toFixed(10).toString().replace(/0+$/, "").replace(/.$/, "") + "%";
                }
            }
        },
        yaxis: {
            min: 0,
            labels: {
                formatter: function (val) {
                    const units = ["", "만", "억", "조", "경", "해"];
                    let first = 0;
                    let second = parseInt(val);
                    let cnt = -1;
                    while (second >= 10000) {
                        first = second % 10000;
                        second = Math.floor(second / 10000);
                        cnt++;
                    }
                    if (second >= 100 || cnt === -1) {
                        return second.toString() + units[cnt + 1];
                    }
                    return second.toString() + units[cnt + 1] + first.toString() + units[cnt];
                }
            }
        },
        theme: {
            mode: 'dark',
            palette: 'palette1' // upto palette10
        }
    };

    // 차트 생성
    const chart = new ApexCharts(document.querySelector('#chart'), options2);
    chart.render();

    function openPack() {
        const numberPlayers = players.length;

        const randomNum = Math.random();
        let cumulativeProbability = 0;
        let i = 0;
        for (; i < players.length; i++) {
            cumulativeProbability += players[i].prob;
            if (i === players.length - 1) {
                cumulativeProbability = 1; // 마지막 구간의 오차 보정
            }
            if (randomNum <= cumulativeProbability) {
                var player = players[i];
                break;
            }
        }

        cumulativeProbability = ((cumulativeProbability * 100).toFixed(8)).toString().replace(/0+$/, "").replace(/.$/, "") + "%";
        document.getElementById('open-pack-button').removeEventListener('click', openPack);
        setTimeout(function() {document.getElementById('open-pack-button').addEventListener('click', openPack);}, 1000);
        setTimeout(function () {
            var thumbDiv = document.getElementById('thumb');
            thumbDiv.innerHTML = "";
            thumb.classList = "";
            thumbDiv.classList.add("thumb", player.season);

            // back
            var cardBackDiv = document.createElement('div');
            cardBackDiv.classList.add("card_back");
            var imgElement = document.createElement('img');
            imgElement.src =
                "https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/card/" + player.season + ".png";

            imgElement.alt="";

            cardBackDiv.appendChild(imgElement);
            thumbDiv.appendChild(cardBackDiv);

            // back
            var cardBackDiv = document.createElement('div');
            cardBackDiv.classList.add("card_back_white");
            var imgElement = document.createElement('img');
            imgElement.src =
                "https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/card/" + player.season + ".png";
                // "/assets/images/card_white.png";
            imgElement.alt="";

            cardBackDiv.appendChild(imgElement);
            thumbDiv.appendChild(cardBackDiv);

            // faceon
            var faceonDiv = document.createElement('div');
            faceonDiv.classList.add("img");

            var faceonElement = document.createElement('img');
            faceonElement.src =
                "https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/playersActionHigh/p" + player.id +  ".png";
            faceonElement.onerror = function() {
                faceonElement.src = "https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/playersHigh/p" + player.id.substring(3) +  ".png";
                faceonElement.onerror = function() {
                    faceonElement.src = "https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/players/not_found.png";
                }
            };
            faceonDiv.appendChild(faceonElement);
            thumbDiv.appendChild(faceonDiv);

            //ovr
            var ovrDiv = document.createElement('div');
            ovrDiv.classList.add("ovr");
            ovrDiv.innerHTML = player.ovr;
            thumbDiv.appendChild(ovrDiv);

            // position
            var positionDiv = document.createElement('div');
            positionDiv.classList.add("position");
            positionDiv.innerHTML = player.position;
            thumbDiv.appendChild(positionDiv);

            // season
            var seasonDiv = document.createElement('div');
            seasonDiv.classList.add("season");
            var imgElement = document.createElement('img');
            imgElement.src =
            "https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/season/" + player.season + "_big.png";
            seasonDiv.appendChild(imgElement);
            thumbDiv.appendChild(seasonDiv);

            // upgrade
            var selectorDiv = document.createElement('div');
            selectorDiv.classList.add("selector_wrap");
            selectorDiv.innerHTML = player.upgrade;

            if (8 <= player.upgrade) {
                selectorDiv.classList.add("upgrade_gold");
            } else if (5 <= player.upgrade) {
                selectorDiv.classList.add("upgrade_silver");
            } else if (2 <= player.upgrade) {
                selectorDiv.classList.add("upgrade_cooper");
            }
            thumbDiv.appendChild(selectorDiv);

            // name wrap
            var nameWrapDiv = document.createElement('div');
            nameWrapDiv.classList.add("name_wrap");
            var seasonDiv = document.createElement('div');
            seasonDiv.classList.add("season");
            var imgElement = document.createElement('img');
            imgElement.src =
            "https://ssl.nexon.com/s2/game/fc/online/obt/externalAssets/season/" + player.season + ".png";
            seasonDiv.appendChild(imgElement);
            nameWrapDiv.appendChild(seasonDiv);
            var nameDiv = document.createElement('div');
            nameDiv.classList.add("name");
            nameDiv.innerHTML = player.name;
            nameWrapDiv.appendChild(nameDiv);
            thumbDiv.appendChild(nameWrapDiv);

            // pay
            var payDiv = document.createElement('div');
            payDiv.classList.add("pay");
            payDiv.innerHTML = player.pay;
            thumbDiv.appendChild(payDiv);


            // price
            var playerPriceDiv = document.getElementById('price');
            var innerSpan = document.createElement('span');
            innerSpan.classList.add("blur")
            innerSpan.innerHTML = player.value_cut;
            playerPriceDiv.innerHTML = "";
            playerPriceDiv.appendChild(innerSpan);

            // percentile
            var percentileDiv = document.getElementById('percentile');
            var innerSpan = document.createElement('span');
            innerSpan.classList.add("blur")
            innerSpan.innerHTML = cumulativeProbability;
            percentileDiv.innerHTML = "";
            percentileDiv.appendChild(innerSpan);

            // rank
            var rankDiv = document.getElementById('rank');
            var innerSpan = document.createElement('span');
            innerSpan.classList.add("blur")
            innerSpan.innerHTML = (i + 1).toString() + "등";
            rankDiv.innerHTML = "";
            rankDiv.appendChild(innerSpan);
            
        }, 0); // wait for half second to start moving up

    }
    openPack();
    document.getElementById('open-pack-button').addEventListener('click', openPack);
</script>
