---
layout: single
---

{{ content }}

<div class="search-bar">
    <input id="searchName" placeholder="선수명을 입력해주세요.">
    <button id="searchButton">검색</button>
</div>

<div id="seasonButtons">
</div>

<div id="playerList">
</div>

<div id="simulator">
    <div id="upgrade-target"></div>
    <div>
        <input id="probability-bar" type="range" min="0.1" max="5" step="0.1" value="5">
    </div>
    <div id="upgrade-before">
        <span id="ppppp"></span>
        <span id="ppppp2"></span>
        <button id="upgrade">강화 시도</button>
    </div>
    <div id="upgrade-after">

    </div>
</div>


<script type="module" src="/assets/js/upgrade.js"></script>