#card-display {
    display: flex;

    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;

    .primary {
        color: mix(#fff, $primary-color, 50%);
        font-size: 20px;
    }
}

.main-card {
    display: flex;
}

.minor-card {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.thumb {
    position: relative;
    width: 189px;
    height: 303px;
    margin: 10px;

    .sparkle-left {
        z-index: 5;
        position: absolute;
        bottom: 0px;
        left: -100px;
        filter: hue-rotate(180deg) saturate(70%);
    }

    .sparkle-right {
        z-index: 5;
        position: absolute;
        bottom: 0px;
        right: -100px;
        filter: hue-rotate(180deg) saturate(70%);
    }

    .flame-left {
        z-index: 5;
        position: absolute;
        bottom: 0px;
        width: 50%;
        left: -60px;
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    .flame-right {
        z-index: 5;
        position: absolute;
        bottom: 0px;
        width: 50%;
        right: -42px;
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    .success-left {
        z-index: 5;
        position: absolute;
        bottom: 0px;
        width: 50%;
        left: -60px;
        filter: hue-rotate(135deg);
    }

    .success-right {
        z-index: 5;
        position: absolute;
        bottom: 0px;
        width: 50%;
        right: -48px;
        filter: hue-rotate(135deg);
    }

    .img {
        position: absolute;
        top: 56px;
        right: 5px;
        z-index: 1;
        width: 155px;
        height: 169px;
        overflow: hidden;

        img {
            max-width: none;
            vertical-align: baseline;
            width: 169px;
        }
    }

    .card_back_white {
        position: absolute;
        top: 0px;
        z-index: 4;
        opacity: 0;
        animation-name: scatter;
        animation-duration: 1s;

        @keyframes scatter {
            0% {
                opacity: 1;
                filter: drop-shadow(0px 0px 15px black) invert(100%);
            }

            50% {
                opacity: 1;
                filter: drop-shadow(0px 0px 15px black) invert(100%);
            }

            100% {
                opacity: 0;
                filter: drop-shadow(0px 0px 0px black) invert(100%);
            }
        }

        filter: invert(100%);

        img {
            filter: brightness(0%);
        }
    }

    .card_back_upgrade {
        position: absolute;
        top: 0px;
        z-index: 4;
        opacity: 0;
        animation-name: scatter;
        animation-duration: 2.1s;

        @keyframes scatter {
            0% {
                opacity: 0;
                filter: drop-shadow(0px 0px 15px black) invert(100%);
            }

            50% {
                opacity: 1;
                filter: drop-shadow(0px 0px 15px black) invert(100%);
            }

            95% {
                opacity: 1;
                filter: drop-shadow(0px 0px 0px black) invert(100%);
            }

            100% {
                opacity: 0;
                filter: drop-shadow(0px 0px 15px black) invert(100%);
            }
        }

        filter: invert(100%);

        img {
            filter: brightness(0%);
        }
    }

    .ovr {
        font-size: 37px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 48px;
        left: 0;
        text-align: center;
        width: 61px;
        font-weight: 400;
        z-index: 2;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    }

    .position {
        font-size: 26px;
        color: #fff;
        position: absolute;
        top: 82px;
        left: 0;
        text-align: center;
        width: 61px;
        font-weight: 100;
        z-index: 2;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    }

    .nation {
        position: absolute;
        top: 114px;
        left: 0;
        width: 62px;
        text-align: center;
        z-index: 2;

        img {
            width: 28px;
        }
    }

    >.season {
        position: absolute;
        top: 170px;
        left: 9px;
        text-align: center;
        width: 46px;
        height: 46px;
        z-index: 2;
        border-radius: 46px;
        overflow: hidden;
        background: #fff;

        img {
            width: 33px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .selector_wrap {
        position: absolute;
        top: 200px;
        right: 4px;
        font-size: 15px;
        background-color: #51545a;
        border-bottom: 1px solid #c5c8c9;
        border-right: 1px solid #c5c8c9;
        color: #c5c8c9;
        display: inline-block;
        width: 48px;
        height: 25px;
        z-index: 2;
        vertical-align: top;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }

    .selector_list {
        position: absolute;
        top: 227px;
        right: 4px;
        width: 48px;

        z-index: 50;

        >ul {
            margin: 0px;
            padding: 0px;
        }
    }

    .selector_item {
        background-color: #51545a;
        color: #c5c8c9;
        border-bottom: 1px solid #c5c8c9;
        border-right: 1px solid #c5c8c9;
        display: inline-block;
        width: 48px;
        height: 25px;
        z-index: 2;
        vertical-align: top;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .upgrade_cooper {
        background-color: #de946b;
        color: #7e3f27;
        border-bottom: 1px solid #7e3f27;
        border-right: 1px solid #7e3f27;
    }

    .upgrade_silver {
        background-color: #d8dadc;
        color: #4e545e;
        border-bottom: 1px solid #4e545e;
        border-right: 1px solid #4e545e;

    }

    .upgrade_gold {
        background-color: #f9dd62;
        color: #695100;
        border-bottom: 1px solid #695100;
        border-right: 1px solid #695100;
    }

    .name_wrap {
        width: 100%;
        position: absolute;
        top: 230px;
        left: 0;
        text-align: center;

        .season {
            margin-right: 3px;
            display: inline-block;
            margin-top: 2px;
            vertical-align: top;

            img {
                height: 16px;
                vertical-align: top;
                margin-top: -1px;
            }
        }

        .name {
            display: inline-block;
            max-width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
            font-weight: 500;
            color: black;
        }
    }

    .pay {
        position: absolute;
        bottom: 11px;
        left: 50%;
        width: 30px;
        height: 18px;
        background-color: rgba(0, 0, 0, 0);
        margin: 8.66px 0;
        border-left: solid 2px #a7a9ae;
        border-right: solid 2px #a7a9ae;
        transform: scale(0.8) translateX(-20px);
        font-size: 19px;
        color: #3f434a;
        text-align: center;
        font-weight: bold;
        font-family: "EASANS";
        letter-spacing: 1px;
        opacity: .7;
        line-height: 1.2;

        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            width: 21px;
            height: 21px;
            -webkit-transform: scaleY(0.6) rotate(-45deg);
            -ms-transform: scaleY(0.6) rotate(-45deg);
            transform: scaleY(0.6) rotate(-45deg);
            background-color: inherit;
            left: 2.5px;
            z-index: 1;

            top: -11px;
            border-top: solid 2.8px #a7a9ae;
            border-right: solid 2.8px #a7a9ae;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 21px;
            height: 21px;
            -webkit-transform: scaleY(0.6) rotate(-45deg);
            -ms-transform: scaleY(0.6) rotate(-45deg);
            transform: scaleY(0.6) rotate(-45deg);
            background-color: inherit;
            left: 2.5px;
            z-index: 1;

            bottom: -11px;
            border-bottom: solid 2.8px #a7a9ae;
            border-left: solid 2.8px #a7a9ae;
        }
    }
}

.thumb-small {
    width: 94.5px;
    height: 156.5px;
    margin: 5px;

    .img {
        top: 28px;
        right: 2.5px;
        z-index: 1;
        width: 77.5px;
        height: 84.5px;

        img {
            width: 84.5px;
        }
    }

    .ovr {
        font-size: 18.5px;
        top: 24px;
        width: 30.5px;
        font-weight: 400;
    }

    .position {
        font-size: 13px;
        top: 41px;
        width: 30.5px;
        font-weight: 100;
    }

    .nation {
        top: 57px;
        width: 31px;

        img {
            width: 14px;
        }
    }

    >.season {
        top: 85px;
        left: 4.5px;
        width: 23px;
        height: 23px;
        border-radius: 23px;

        img {
            width: 16.5px;
        }
    }

    .selector_wrap {
        top: 100px;
        right: 2px;
        font-size: 7.5px;
        width: 24px;
        height: 12.5px;
        font-size: 10px;
    }

    .name_wrap {
        display: flex;
        justify-content: center;
        top: 115px;

        .season {
            margin-right: 1px;
            margin-top: 4px;

            img {
                height: 8px;
                margin-top: -0.5px;
            }
        }

        .name {
            height: 12.5px;
            max-width: 70px;
            font-size: 7.5px;
            font-weight: 100;
        }
    }

    .pay {
        bottom: 8px;
        left: 50%;
        width: 15px;
        height: 9px;
        margin: 4.33px 0;
        border-left: solid 1px #a7a9ae;
        border-right: solid 1px #a7a9ae;
        transform: scale(0.8) translateX(-10px);
        font-size: 9.5px;
        letter-spacing: 0.5px;
        line-height: 0.6;

        &::before {
            width: 10.5px;
            height: 10.5px;
            left: 1.25px;

            top: -5.5px;
            border-top: solid 1.4px #a7a9ae;
            border-right: solid 1.4px #a7a9ae;
        }

        &::after {
            width: 10.5px;
            height: 10.5px;
            left: 1.25px;


            bottom: -5.5px;
            border-bottom: solid 1.4px #a7a9ae;
            border-left: solid 1.4px #a7a9ae;
        }
    }
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    color: white;
    text-align: right;

    #price,
    #percentile,
    #rank {
        display: inline-block;
        color: mix(#fff, $primary-color, 50%);
        font-size: 25px;

        .blur {
            animation-name: blur;
            animation-duration: 1s;

            @keyframes blur {
                0% {
                    filter: blur(15px);
                }

                50% {
                    filter: blur(15px);
                }

                100% {
                    filter: blur(0px);
                }
            }
        }
    }
}

.thumb-small-price {
    text-align: center;
    color: mix(#fff, $primary-color, 50%);
    font-size: 15px;
}

.open-pack-buttons {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

#open-pack-button {
    width: 120px;
    height: 35px;
    border-radius: 25px;
    border: none;

    background: white;
    font-weight: 700;
    font-size: 15px;

    &:hover {
        background: #e6e6e6;
    }

    &:focus {
        outline: none;
    }
}

#open-10pack-button {
    width: 120px;
    height: 35px;
    border-radius: 25px;
    border: none;

    background: mix(#fff, $primary-color, 10%);
    font-weight: 700;
    font-size: 15px;

    &:hover {
        background: mix(#fff, $primary-color, 0%);
    }

    &:focus {
        outline: none;
    }
}