.fixed_buttons {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 5px;
    height: 25px;
    width: 25px;
    z-index: 1000;
}

.fixed_buttons--first {
    display: block;
    position: fixed;
    right: 5px;
    height: 35px;
    width: 35px;
    bottom: 10px;
    z-index: 9999999;

    .img {
        z-index: 9999999;
    }
}

.fixed_buttons--second {
    display: block;
    position: fixed;
    right: 5px;
    height: 35px;
    width: 35px;
    bottom: 60px;
    z-index: 9999999;

    .img {
        z-index: 9999999;
    }
}