@font-face {
    font-family: 'EASANS';
    src: url('/assets/fonts/EASPORTS15.ttf') format('truetype'),
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: "INGAME";
    font-weight: 300;
    src: url("//fco.vod.nexoncdn.co.kr/fonts/YoonGothic530.woff2") format("woff2"),url("//fco.vod.nexoncdn.co.kr/fonts/YoonGothic530.woff") format("woff")
}

@font-face {
    font-family: "INGAME";
    font-weight: 400;
    src: url("//fco.vod.nexoncdn.co.kr/fonts/YoonGothic540.woff2") format("woff2"),url("//fco.vod.nexoncdn.co.kr/fonts/YoonGothic540.woff") format("woff")
}