.search-bar {
    display: flex;
    flex-direction: row;

}

#searchName {
    height: 60px;
    background-color: white;
    color: black;
    margin: 0px;
    border: 4px solid #3a3a50;
    padding: 0px 10px;
}

#resetButton,
#searchButton {
    width: 93px;
    height: 60px;
    background-color: #3a3a50;
    color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.season-button {
    width: 40px;
    height: 26px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);

    .img {
        width: 30px;
        height: 24px;
    }
}

#playerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 280px;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
    background-color: #edeff8;
}

.player-info:hover {
    background-color: #cdcfd6;
}

.player-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;

    color: #3a3a50;
    background-color: #edeff8;
    border-bottom: 1px solid #3a3a50;

    font-size: 15px;

    cursor: pointer;

    .faceon {
        width: 60px;
        height: 60px;
        margin: 10px;
    }

    .player-name-wrap {
        display: flex;
        align-items: center;
        margin-right: 10px;

        >.season {
            width: 17.5px;
            margin: 5px;
            align-items: center;

            >img {
                width: 17.5px;
                height: 14px;
            }
        }

        >.player-name {
            color: #3a3a50;
        }
    }

    .player-pos {
        font-weight: 500;
        margin-right: 5px;
    }

    .FW {
        color: #f6425f;
    }

    .MF {
        color: #00d28b;
    }

    .DF {
        color: #2b7def;
    }

    .GK {
        color: #f2be57;
    }

    .player-ovr {
        color: #858498;
    }
}

.simulator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-msg__success {
    font-size: 30px;
    color: #81fff7;
    font-weight: 500;
}

.result-msg__fail {
    font-size: 30px;
    color: #858498;
    font-weight: 500;
}

.upgrade-animation {
    animation: vibrate 2s ease-in-out;
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    37% {
        transform: translateX(5px);
    }

    45% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    55% {
        transform: translateX(-5px);
    }

    59% {
        transform: translateX(5px);
    }

    63% {
        transform: translateX(-5px);
    }

    66% {
        transform: translateX(5px);
    }

    69% {
        transform: translateX(-5px);
    }

    72% {
        transform: translateX(5px);
    }

    74% {
        transform: translateX(-5px);
    }

    76% {
        transform: translateX(5px);
    }

    78% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    81% {
        transform: translateX(-5px);
    }

    82% {
        transform: translateX(5px);
    }

    83% {
        transform: translateX(-5px);
    }

    84% {
        transform: translateX(5px);
    }

    85% {
        transform: translateX(-5px);
    }

    86% {
        transform: translateX(5px);
    }

    87% {
        transform: translateX(-5px);
    }

    88% {
        transform: translateX(5px);
    }

    89% {
        transform: translateX(-5px);
    }

    90% {
        transform: translateX(5px);
    }

    91% {
        transform: translateX(-5px);
    }

    92% {
        transform: translateX(5px);
    }

    93% {
        transform: translateX(-5px);
    }

    94% {
        transform: translateX(5px);
    }

    95% {
        transform: translateX(-5px);
    }

    96% {
        transform: translateX(5px);
    }

    97% {
        transform: translateX(-5px);
    }

    98% {
        transform: translateX(5px);
    }

    99% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

.simulator-button {
    width: 120px;
    height: 35px;
    border-radius: 25px;
    border: none;

    background: white;
    font-weight: 700;
    font-size: 15px;

    &:hover {
        background: #e6e6e6;
    }

    &:focus {
        outline: none;
    }
}

.retry-button {
    width: 120px;
    height: 35px;
    border-radius: 25px;
    border: none;

    background: mix(#fff, $primary-color, 10%);
    font-weight: 700;
    font-size: 15px;

    &:hover {
        background: mix(#fff, $primary-color, 0%);
    }

    &:focus {
        outline: none;
    }
}

.button-wrap {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}